.container {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  width: calc(100% - 4rem);
}

.container .container {
  position: relative;
  background-color: white;
  display: block;
  padding: 0;
}

.container .container .modalBtn,
.container .container .modalBackBtn {
  display: none;
}

.containerOpen {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  display: none;
  width: 100%;
}

.containerOpen .content {
  display: block;
}

.content .content {
  display: block;
}

.btnContainer {
  position: absolute;
  width: calc(100% - 4rem);
  padding-top: 2rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalBtn {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.modalBackBtn {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1500px) {
  .container {
    position: fixed;
    right: 0;
    left: auto;
    /* top: 2rem; */
    overflow-y: auto;
    padding: 2rem;
    padding-top: 2rem;
    z-index: 10;
    display: block;
    height: fit-content;
    width: 18%;
    visibility: hidden;
  }

  .container .container {
    width: 100%;
    height: auto;
    box-shadow: none;
    overflow-y: visible;
    z-index: auto;
    right: auto;
    top: auto;
    left: auto;
    background-color: transparent;
    visibility: inherit;
  }

  .content {
    display: block;
  }

  .btnContainer {
    display: none;
  }
}
