.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > div {
  margin: 0;
  padding: 0;
}

.footer p {
  margin: 0;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .footer p {
    font-size: 1.5rem;
    padding: 1.2rem 2rem;
  }
}
