.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--accent-color);
  /* background: var(--accent-color); */
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.badgeText {
  font-size: 1.25rem;
  color: var(--accent-color);
  /* color: black; */
  font-weight: 600;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .badgeContainer {
    gap: calc(1rem * var(--ipad-scale));
    border: calc(1px * var(--ipad-scale)) solid var(--accent-color);
    padding: calc(0.25rem * var(--ipad-scale)) calc(0.75rem * var(--ipad-scale));
    border-radius: calc(0.5rem * var(--ipad-scale));
  }

  .badgeText {
    font-size: calc(1.25rem * var(--ipad-scale));
  }
}
