.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--accent-color);
  /* background: var(--accent-color); */
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.badgeText {
  font-size: 1.25rem;
  color: var(--accent-color);
  /* color: black; */
  font-weight: 600;
  margin: 0;
}
