<section class="about container" id="about">
  <div class="about__content" data-aos="fade-right">
    <h2 class="about__title heading">About Me</h2>
    <p>
      A
      <span class="highlighted">fullstack developer</span> with a focus in
      <span class="highlighted">machine learning (ML)</span> and
      <span class="highlighted">artificial intelligence (AI)</span>. My passions
      are coding, snowboarding, exploring and watching sun rises all across the
      globe!
    </p>
    <p>
      I am a third year studying at University of Toronto (UofT), currently
      enrolled in the
      <span class="highlighted"> Computer Science Specialist </span>
      Program.
    </p>
    <p>
      I am currently fluent in
      <span class="highlighted">Python, Java, JavaScript, C, HTML, CSS, R</span>
      and am on my way to learn more!
    </p>
  </div>
  <img
    class="about__pic"
    src="images/michael-profile.JPG"
    alt=""
    data-aos="fade-in"
  />
</section>
